.item {
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item img {
  width: 100%;
  height: 260px;
  display: block;
  object-fit: cover;
  cursor: pointer;
}